/*Archivo css, controla el como se ve la pagina web*/
table,th,td{
    border: 1px solid cadetblue;
    border-collapse: collapse;
}
body{
    
      background-color: grey;
}
th,td{
    padding: 20px;
}
th{
    text-align: justify;
}
.section1{
    margin-top: 60px;
}
.section2{
    margin-top: 100px;
}
p{
    text-align: center;
}
.botones{
    float: right;
    
}
.bottonre{
    float:right;
}
.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: gray;
    background-color: blue;
    border-radius: 6px;
    border: 2px solid grey;
}
.btn{
    float: right;
    margin-right: 120px;
}